@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@900&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@900&family=Rubik:wght@600&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@900&family=Rubik:wght@600&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif; 
    padding: 0;
    margin: 0 10px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.banner__subtitle{
    color: #954AEF;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 10px;
}

.banner__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    max-width: 520px;
}

.banner__title span {
    color: #EB449F;
}

.banner__context{
    margin-top: 15px;
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.links{
    margin-top: 40px;
    margin-bottom: 40px;
}

.link__app{
    font-family: 'Rubik', sans-serif;
    border: 1px solid #3C2160;
    border-radius: 10px;
    padding: 17px 40px;
    letter-spacing: -0.3px; 
    text-align: center;

    font-weight: 600;
    font-size: 13px;
}

.bg__purple{
    background-color: #954AEF;
    box-shadow: 0px 20px 40px rgba(149, 74, 239, 0.4);
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-right: 20px;
}

.link__icon{
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.books{
    margin-top: 40px;
    margin-bottom: 135px;
    display: flex;
}

.book{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 260px;
    height: 96px;

    background: rgba(235, 68, 159, 0.06);
    border-radius: 20px;
}

.book__title{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
}

.color__purple{
    color:#954AEF;
}

.color__pink{
    color:#EB449F;
}

.book_icon{
    height: 37px;
    width: 60px;
    margin-right: 20px;
}

.book__tetx{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    max-width: 140px;
}

.fone__banner{
    max-width: 100%;
}

.footer {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__info{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #954AEF;
    margin: 0;
}

.footer__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-top: 1px;
}

.footer__icon{
    padding: 11px 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
}

.footer__icon:not(:last-child) {
    margin-right: 10px;
}

@media(max-width: 1080px) {
    .banner{
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .banner__part:last-child{
        order: -1;
        margin-bottom: 40px;
        max-width: 460px;
    }
    .banner__subtitle{
        text-align: center;
    }
    .banner__title{
        text-align: center;
        margin: auto;
        font-size: 40px;
        line-height: 50px;
        max-width: 400px;
    }

    .banner__context{
        text-align: center;
    }

    .links{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .books{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }
}

@media(max-width: 660px) {
    .footer {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

@media(max-width: 598px) {
    .book{
        margin-bottom: 10px;
    }
}

@media(max-width: 500px) {

    .banner__part:last-child{
        margin-bottom: 10px;
    }

    .banner__subtitle{
        font-size: 14px;
        line-height: 0;
        margin-top: 10px;
    }

    .banner__title{
        font-size: 28px;
        line-height: 38px;
        max-width: 300px;
    }

    .banner__context{
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }

    .link__app{
        padding: 12px 25px;
        font-size: 11px;
        line-height: 15px;
    }

    .link__app:not(:last-child) {
        margin-right: 8px;
    }

    .footer{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__icon{
        margin-right: 10px;
    }

    .footer__info{
        margin-top: 10px;
        text-align: center;
    }

    .footer__block:last-child{
        display: flex;
        order: -1;
    }

    .footer__text{
        font-size: 10px;
    }
}